In [1]:
import pandas as pd

In [9]:
import numpy as np
from datetime import datetime, timedelta

In [2]:
# Load the dataset
file_path = 'job_descriptions.csv'
df = pd.read_csv(file_path)

In [3]:
df.head(3)

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,...,Contact,Job Title,Role,Job Portal,Job Description,Benefits,skills,Responsibilities,Company,Company Profile
0,1089843540111562,5 to 15 Years,M.Tech,$59K-$99K,Douglas,Isle of Man,54.2361,-4.5481,Intern,26801,...,001-381-930-7517x737,Digital Marketing Specialist,Social Media Manager,Snagajob,Social Media Managers oversee an organizations...,"{'Flexible Spending Accounts (FSAs), Relocatio...","Social media platforms (e.g., Facebook, Twitte...","Manage and grow social media accounts, create ...",Icahn Enterprises,"{""Sector"":""Diversified"",""Industry"":""Diversifie..."
1,398454096642776,2 to 12 Years,BCA,$56K-$116K,Ashgabat,Turkmenistan,38.9697,59.5563,Intern,100340,...,461-509-4216,Web Developer,Frontend Web Developer,Idealist,Frontend Web Developers design and implement u...,"{'Health Insurance, Retirement Plans, Paid Tim...","HTML, CSS, JavaScript Frontend frameworks (e.g...","Design and code user interfaces for websites, ...",PNC Financial Services Group,"{""Sector"":""Financial Services"",""Industry"":""Com..."
2,481640072963533,0 to 12 Years,PhD,$61K-$104K,Macao,"Macao SAR, China",22.1987,113.5439,Temporary,84525,...,9687619505,Operations Manager,Quality Control Manager,Jobs2Careers,Quality Control Managers establish and enforce...,"{'Legal Assistance, Bonuses and Incentive Prog...",Quality control processes and methodologies St...,Establish and enforce quality control standard...,United Services Automobile Assn.,"{""Sector"":""Insurance"",""Industry"":""Insurance: P..."

In [4]:

df.shape

(1615940, 23)

In [5]:

df.columns

Index(['Job Id', 'Experience', 'Qualifications', 'Salary Range', 'location',
       'Country', 'latitude', 'longitude', 'Work Type', 'Company Size',
       'Job Posting Date', 'Preference', 'Contact Person', 'Contact',
       'Job Title', 'Role', 'Job Portal', 'Job Description', 'Benefits',
       'skills', 'Responsibilities', 'Company', 'Company Profile'],
      dtype='object')

In [6]:
df.dropna().isnull().sum()

Job Id              0
Experience          0
Qualifications      0
Salary Range        0
location            0
Country             0
latitude            0
longitude           0
Work Type           0
Company Size        0
Job Posting Date    0
Preference          0
Contact Person      0
Contact             0
Job Title           0
Role                0
Job Portal          0
Job Description     0
Benefits            0
skills              0
Responsibilities    0
Company             0
Company Profile     0
dtype: int64

In [12]:
# Function to parse dates
def parse_dates(date_entry):
    if isinstance(date_entry, datetime):
        return date_entry
    for fmt in ('%d-%m-%Y', '%Y-%m-%d'):
        try:
            return datetime.strptime(date_entry, fmt)
        except (ValueError, TypeError):
            continue
    return pd.NaT

In [13]:
# Apply the parse_dates function to the Job Posting Date column
df['Job Posting Date'] = df['Job Posting Date'].apply(parse_dates)

In [14]:

# Drop rows with invalid dates
df = df.dropna(subset=['Job Posting Date'])

In [15]:
# Add a timestamp column with a random time between 10 AM and 12 PM
def add_random_time(date):
    random_hour = np.random.randint(10, 12)
    random_minute = np.random.randint(0, 60)
    return datetime.combine(date.date(), datetime.min.time()) + timedelta(hours=random_hour, minutes=random_minute)

In [16]:
df['Job Posting Timestamp'] = df['Job Posting Date'].apply(add_random_time)

# Save the updated dataset
df.to_csv('updated_dataset.csv', index=False)

In [17]:
updated_csv = pd.read_csv('updated_dataset.csv')
df.shape

(1615940, 24)